#navigation {
    position: fixed;
    right: calc(var(--spacing) * 0);
    bottom: calc(var(--spacing) * 10);
    left: calc(var(--spacing) * 0);
    z-index: 9099999999;
    margin-inline: auto !important;
    display: flex;
    height: calc(var(--spacing) * 14);
    max-width: max-content;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 4);
    border-radius: var(--radius-lg);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: color-mix(in srgb, oklch(70.5% 0.015 286.067) 10%, transparent);
    @supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-zinc-400) 10%, transparent);
    }
    background-color: color-mix(in srgb, oklch(27.4% 0.006 286.033) 30%, transparent);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-zinc-800) 30%, transparent);
    }
    padding-inline: calc(var(--spacing) * 4) !important;
    --tw-backdrop-blur: blur(var(--blur-sm));
    -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    --tw-duration: 300ms;
    transition-duration: 300ms;
    :is(& > *) {
      display: flex;
    }
    :is(& > *) {
      width: calc(var(--spacing) * 12);
      height: calc(var(--spacing) * 12);
    }
    :is(& > *) {
      align-items: center;
    }
    :is(& > *) {
      justify-content: center;
    }
    :is(& > *) {
      border-radius: var(--radius-md);
    }
    &:hover {
      @media (hover: hover) {
        background-color: color-mix(in srgb, oklch(27.4% 0.006 286.033) 20%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          background-color: color-mix(in oklab, var(--color-zinc-800) 20%, transparent);
        }
      }
    }
    :is(& > *) {
      &:is(button) {
        cursor: pointer;
      }
    }
  }