.primary-button {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-radius: var(--radius-md);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: color-mix(in srgb, oklch(87.2% 0.01 258.338) 10%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    border-color: color-mix(in oklab, var(--color-gray-300) 10%, transparent);
  }
  background-color: var(--color-black);
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via,
    --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate,
    filter, -webkit-backdrop-filter, backdrop-filter, display,
    content-visibility, overlay, pointer-events;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 150ms;
  transition-duration: 150ms;
  --tw-ease: var(--ease-in-out);
  transition-timing-function: var(--ease-in-out);
  &:focus {
    border-color: color-mix(
      in srgb,
      oklch(80.9% 0.105 251.813) 20%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-blue-300) 20%, transparent);
    }
  }
  &:focus {
    --tw-outline-style: none;
    outline-style: none;
  }
  &:active {
    background-color: var(--color-gray-800);
  }
}
.active-btn {
  background-color: var(--color-gray-800);
}

.clear-button {
  cursor: pointer;
  border-radius: var(--radius-md);
  background-color: var(--color-rose-500);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);
  padding-bottom: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-duration: 150ms;
  transition-duration: 150ms;
  &:hover {
    @media (hover: hover) {
      background-color: color-mix(
        in srgb,
        oklch(58.6% 0.253 17.585) 50%,
        transparent
      );
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(
          in oklab,
          var(--color-rose-600) 50%,
          transparent
        );
      }
    }
  }
}
